<a href="https://colab.research.google.com/github/tuva-health/notebooks/blob/main/Type_2_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import auth
auth.authenticate_user()

In [4]:
from google.cloud import bigquery
client = bigquery.Client(project='tuva-claims-demo')

In [5]:
sql_query = ('''SELECT *
                FROM core.patient
                ''')
patient = client.query(sql_query).to_dataframe()

sql_query = ('''SELECT *
                FROM core.encounter
                ''')
encounter = client.query(sql_query).to_dataframe()

sql_query = ('''SELECT *
                FROM chronic_conditions.tuva_chronic_conditions_wide
                ''')
chronic_conditions = client.query(sql_query).to_dataframe()

In [6]:
chronic_conditions.head()

,patient_id,acute_myocardial_infarction,alcohol,alzheimers_disease,amyotrophic_lateral_sclerosis,anxiety,asthma,atherosclerosis,atrial_fibrillation,attention_deficit_hyperactivity_disorder,...,parkinsons_disease,personality_disorder,post_traumatic_stress_disorder,rheumatoid_arthritis,schizophrenia,stroke,tobacco,type_1_diabetes,type_2_diabetes,ulcerative_colitis
0,11404,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10450,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12710,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10167,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,13345,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0